@using Microsoft.AspNetCore.Identity
@model IEnumerable<AppUser>

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var userName = TempData["UserName"] as string;
} 

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @userName's @successMessage
    </div>
}

  <h2>User List</h2>
  <hr>
  <a class="btn btn-primary" asp-action="Create" asp-controller="User">Create User</a>

<table class="table table-striped text-center"> 
    <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var user in Model){
        <tr>
          <td>@user.Id</td>
          <td>@user.UserName</td>
          <td>@user.Email</td>
          <td>@user.PhoneNumber</td>
          <td>
              <a asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
              <a asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
          </td>
        </tr>
    }
  </tbody>
</table>